{{#extends 'base'}}

{{#block 'content'}}
<h1>Welcome, please login!</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary my-3" value="Login"/>
</form>

{{/block}}

{{/extends}}